# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\mcr99\OneDrive\Escritorio\UDL\3 GEI\2 Semestre\Programació avançada en IA\Part 1 - Local search\Laboratory\APAI-race\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
